body {
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 300;
    font-style: normal;
    background-image: url("background.jpg");
    background-size: 500px;
    background-repeat: repeat;
}

.flexbox {
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
}

.letter-window {
    background-image: url("heartdoily.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;

}

.button {
    background-color: white;
    color: red;
    width: 70px;
    height: 50px;
    border: 4px solid red;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 12px;
    font-family: "Cherry Bomb One", system-ui;
    margin: 10px;
    cursor: pointer;
}

.textbigger {
    font-size: 25px;
    width: 250px;
    text-shadow: 3px 3px 5px red;
}